.input__example,
.input__example:hover
    border: none
    cursor: pointer
    font-size: 14px
    font-weight: bold
    margin-right: 5px
    padding: 3px 6px

    &:focus
        outline: none

    &:last-child
        margin-right: 0
